.button {
  border: none;
  border-radius: 5%;
  //margin: 1em 0.5em 1em;
  padding: 0.5em 0.75em 0.5em;
  font-weight: bold;

  &:hover {
    cursor: grab;
  }
}

.clear {
  background: #11a8f8;
  color: white;
  //padding:0.15em 0.5em 0.15em;

  &:hover {
    background: #1f88c0;
  }
}

.submit {
  background: #1fb41f;
  color: white;


  &:hover {
    background: #1f861f;

  }
}

.close {
  //margin:1em;
  background: #de1818;
  color:white;

  &:hover {
  background: #a11d1d;
  }

  padding: 0.35em 0.55em 0.35em;

}
.modal {
  .clear {
    grid-area: D;

  }
  .submit {
    grid-area: C;

  }

}