.todo-list__container {
  width: 80%;
  margin: auto;
  height:100vh;
  .list-title {
    width:100%;
    display:grid;
    grid-template-columns: 12.5% 62.5% 12.5% 12.5%;
    justify-items:left;
    font-weight:bold;
  }

  .todo-list {
    height:20vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width:7px;
    }
    &::-webkit-scrollbar-thumb {
      background: #656161;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
    }

    border: 1px solid black;
    padding:1.5em;
    list-style: none;

    width:50%;
    margin: 0 auto;
    //padding:0;
  }
}
