.add-container {
}


.add {
  display: grid;
  grid-template-areas:". . . . . . . A"
  "B B B B B B B B"
  "C C C C C C C C"
  "D E . . . . . .";
  grid-column-gap: 2em;
  grid-row-gap: 0.5em;
  justify-items: start;
  align-items: start;

  label, input {
    width: 300px;
    max-width: 80%;
    font-size: large;
  }
  label {
    grid-area: B;
  }
  input {
    grid-area: C;
    height: 2em;
    border: 2px solid #a7adaf;
    outline: none;
    border-radius: 3px;
    padding-left: 0.5em;
    &:focus {
      border: 2px solid #0c9ec0;
    }
  }
}
