.modal {
  width:50%;
  select {
    display:block;
    width:52%;
    margin: 0 auto;
    margin-top:1em;
    margin-bottom:1.5em;

  }
  margin:0 auto;
  padding:0;

  border: 1px solid black;
  border-radius: 2px;

}